.Switcher {
	width: 40px;
	height: 20px;
	background: #ddd;
	border-radius: 12px;
	position: relative;
    cursor: pointer;
    transition: all .7s;
    margin: 10px 5px;
}

.Switcher_toggleOn {
    background: rgb(76, 217, 100);
}

.Switcher_non-active {
    cursor: no-drop;
    opacity: 0.3;
}

.Toggle_button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 50%;
    transition: all .5s;
}

.Toggle_button-right {
    transform: translateX(20px)
}
